 @model ExperienceDto
<div class="modal fade" id="ExperienceAddModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Experience</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal formExperienceAdd">
                    <div class="card-body">
                        <div class="form-group row">
                            <label asp-for="@Model.Title" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.Title" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.Description" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="@Model.Description" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.StartDate" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input id="StartDate" value="@DateTime.Now" type="date" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.FinishDate" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input id="FinishDate" value="@DateTime.Now" type="date" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="sbtAddExperience()" class="btn btn-primary">Save</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>